<style type="text/css">
	body{
		background: url(https://static1.squarespace.com/static/502fb0ad84ae7fae2e648aa1/t/572ab977555986d1c17d5b5d/1462417791886/boy-named-ben-banner.jpg) no-repeat center fixed;
		background-size: cover;
	}
</style>
<center><a href="/login"><button class="btn btn-success btn-lg set hvr-grow" type="submit">Get Started</button></a></center>